body{
    margin: 50px;
    background-color: rgb(240, 234, 210);
    width: 90vw;
}

#searchbox{
    display: flex;
    flex-direction: column;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.header{
    padding: 5px;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
}

#courses{
    padding: 5px;
    width: 450px;
   align-items: center;
}

#courses:hover{
    background-color: lightyellow;
}


#student-result{
    display: flex;
    flex-direction: column;

/* 

    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    text-align: center; */
}

.course{
    background-color: rgb(221, 229, 182);
    color:  rgb(47, 47, 47);
    /* flex-direction: row;
    flex-shrink: 0; */
    /* gap: 5px; */
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px black;
   

}

div.course{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    text-align: center;   
    
}




