body{
    margin: 50px;
    background-color: aliceblue;
    /* color: black; */
    height: 100vw;

}

.header{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 500px;
    align-items: center;
    background-color: whitesmoke;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#courses{
    padding: 5px;
}

#courses:hover{
    background-color: lightyellow;
}

/* #wrapper{
   
    width: 90vw;
    height: 100vh;
} */

#student-result{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    flex-direction: column;
    background-color: aquamarine;
    margin: 20px;

}

.student{
    color: aqua;
    
}
.course{
    background-color: aquamarine;
    /* background-color: wheat; */
    flex-direction: column;
    gap: 5px;
}






