body{
    margin: 50px;
    background-color: rgb(240, 234, 210);
    width: 90vw;
    font-family: 'PT Sans', sans-serif;
}

#searchbox{
    display: flex;
    flex-direction: column;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.header{
    padding: 5px;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
}

#courses{
    padding: 5px;
    width: 450px;
    align-items: center;
}

#courses:hover{
    background-color: lightyellow;
}


#student-result{
    display: flex;
    flex-direction: column;
}

.course{
    background-color: rgb(221, 229, 182);
    color:  rgb(47, 47, 47);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px black;
   

}

.done{
    background-color: rgb(173, 193, 120);
    color: black;
    border: solid black 1px;
    border-radius: 10px;
}

.not-done{
    color: rgb(47, 47, 47);
    border: solid black 1px;
    background-color: rgb(255, 252, 242);
    border-radius: 10px;
}

#courseTitle{
    font-family: 'PT Sans', sans-serif;
}

#teacher{
    font-family: 'PT Sans', sans-serif;
    
}

#courseResponsible{
    font-family: 'PT Sans', sans-serif;
}

#students{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    text-align: center;   
    font-family: 'PT Sans', sans-serif;
}
 
p{
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    text-align: center;
}

div#courseResponsible > h4{
    background-color: rgb(231, 207, 205);
    height: 25px;
    border-radius: 10px;
    border: solid 1px black;
    
}