body{
    margin: 50px;
    background-color: aliceblue;
    color: black;
    width: 100vw;

}

.searchbox{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 500px;
    align-items: center;
    background-color: whitesmoke;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#box{
    padding: 5px;
}

#box:hover{
    background-color: lightyellow;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
}

.student{
    color: aqua;
    
}
.course{
    background-color: wheat;
    flex-direction: column;
}






